*{
    margin:0;
    padding: 0;
}
/* 整体及汇总样式 */
#box{
    height: 100%;
}
a{
    text-decoration:none;
    color: #222;
    /* padding: 4px 2px; */
    cursor: pointer;
}
a:hover{
    color: blue;
}
span{
    user-select:none;
    cursor: pointer;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.c9195a3{
    color: #9195a3;
}
/* 导航栏样式 */
.navLeftBox{
    height: 60px;
    padding-left: 24px;
}
.navRightBox{
    height: 60px;
    padding-right: 24px;
    position: relative;
}

.font13{
    font: 13px/23px Arial,sans-serif;
}
#func{
    display: none;
    width: 304px;
    height: 223px;
    background-color: fff;
    position: absolute;
    top: 43px;
    left: 177px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
    border-radius: 12px;
    font-size: 12px;
    text-align: center;
}
#more:hover #func{
    display: block;
}
#func:hover{
    display: block;
}
#func a{
    width: 76px;
    height: 70px;
    float: left;
    margin-top: 19px;
}
#func img{
    margin: auto;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 12px;
    width: 42px;
    height: 42px;
    margin: 0 16px;
}
.func{
    position: absolute;
    display: block;
    padding: 8px 0;
    width: 84px;
    border-radius: 12px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
    background-color: #fff;
    text-align: left;
    font: 13px/23px Arial,sans-serif;
    cursor: pointer;
}
.func a{
    margin: 3px 16px;
}
#func2{
    display: none;
    top: 43px;
    right: 40px;
}
#func-txt{
    color: #9195a3;
    height: 23px;
    margin-top: 190px;
    cursor: pointer;
}
#user-detail:hover #func2{
    display: block;
}
#func3{
    display: none;
    top: 43px;
    right: 110px;
}
#set:hover #func3{
    display: block;
}
.a_headBox{
    margin-top: 19px;
    margin-right: 31px;
    text-align: center;
}
/* 搜索框样式 */
#search_logo{
    height: 40%;
    min-height: 314px;
    max-height: 510px;
    width: 50%;
    margin: 0 auto;
    position: relative;
}
.logoBox{
    position: relative;
    width: 68%;
    height: 60%;
    min-height: 185px;
    max-height: 310px;
    margin: auto;
}
.logoImg{
    width: 270px;
    aspect-ratio: auto 270 / 129;
    height: 129px;
    position: absolute;
    top:24%;
    left:28%;
}
.searchBox{
    position: absolute;
    width: 653px;
    height: 44px;
    top:60%;
    left: 15%;
    margin: auto;
    /* 强制不换行 */
    /* white-space: nowrap; */
}
.inputBox{
    border-radius: 10px 0 0 10px;
    border: 2px rgba(118, 118, 118, 0.7) solid;
}
input[type="text"]{
    border-radius: 10px 0 0 10px;
    font-size: 14px;
    width: 480px;
    padding: 12px 16px;
    border: none;
    outline: none;
}
.camera{
    position: relative;
    display: inline-block;
    width: 24px;
    height: 20px;
    top: 7px;
    right: 16px;
    background: #fff url(./camera.png) no-repeat;
    background-position: 0 -51px;
}
input[type="submit"]{
    cursor: pointer;
    width: 108px;
    height: 44px;
    line-height: 45px;
    background-color: #4e6ef2;
    border-radius: 0 10px 10px 0;
    font-size: 17px;
    color: #fff;
    box-shadow: none;
    font-weight: 400;
    border: none;
    outline: 0;
}
#bottom{
    height: 700px;
}
/* 新闻及热搜 */
#journalism{
    width: 1040px;
    position: relative;
    margin: 0 auto;
    min-width: 1000px;
    padding: 14px 24px 0;
}
#journalism-main{
    /* width: 55%; */
    margin: auto;
    word-wrap: break-word;
    word-break: break-all;
    font: 14px/24px Arial,sans-serif;
    color: #222;
    padding: 14px 24px;
}
#journalism-list{
    width: 65%;
    /* height: 300px; */
}
#journalism-head span{
    margin-top: 4px;
    margin-right: 24px;
}
#journalism-body{
    width: 83%;
}
#journalism-detail{
    padding: 18px 0;
}
#journalism-title{
    display: block;
    width: 100%;
    font: 20px/30px Arial,sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#img-list{
    margin:9px 0;
}
#journalism-body img{
    /* width: 182px; */
    width: 174px;
    height: 120px;
    margin-right: 4px;
}
#journalism-body .img1{
    border-radius: 10px 0 0 10px;
}
#journalism-body .img3{
    border-radius:0 10px 10px 0;
}
.img{
    border-radius: 10px;
}
#journalism-time{
    color:#9195a3;
}
#journalism:hover .delete-news{
    display: block;
}
.delete-news{
    display: none;
}
#topsearch-list{
    /* position: fixed; */
    width: 35%;
    /* height: 300px; */
}
.sticky1{
    position: -webkit-sticky;
    position: sticky !important;
    top: 0px;
    right: 431.5px;
}
#topsearch-head{
    width: 100%;
}
#topsearch-head span,a{
    margin-top: 4px;
}
#topsearch-body{
    width: 100%;
}
#topsearch-body ul{
    list-style: none;
}
#topsearch-body li{
    height: 32px;
    line-height: 32px;
}
#topsearch-body a{
    margin: 0 10px;
}
#topsearch-body .rank{
    font-weight: bolder;
    color: #9195a3;
}
#topsearch-body .rank1{
    color: #db160f;
}
#topsearch-body .rank2{
    color: #e25a00;
}
#topsearch-body .rank3{
    color: #ffee05da;
}
/* 底部定位 */
.feedPic{
    position: fixed;
    bottom: 5%;
    right: 3%;
}
.feed{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    line-height: 44px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    overflow: hidden;
}
.icon,
.icon-hover{
    height: 24px;
    width: 24px;
    margin: auto;
    margin-top: 12px;
    display: block;
}
#icon2:hover>.icon{
    display: none;
}
#icon2:hover>.icon-hover{
    display: block;
}

#icon3:hover>.icon{
    display: none;
}
#icon3:hover>.icon-hover{
    display: block;
}
.icon-hover{
    display: none;
}
#qrcode{
    position: absolute;
    width: 289px;
    height: 107px;
    border-radius: 12px;
    right: 56px;
    bottom: 0;
    background-color: #fff;
    z-index: 303;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    text-align: left;
    display: none;
}
#icon2:hover+#qrcode{
    display: block;
}
#qrcode-word1,
#qrcode-word2{
    margin-left: 16px;
    margin-top: 24px;
    word-wrap: break-word;
    word-break: break-all;
    font: 20px/30px Arial,sans-serif;
    color: #000;
}
#qrcode-word2{
    font: 13px/23px Arial,sans-serif;
    color: #9195a3;
    margin-top: 0;
}
#qrcode img{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 16px;
    right: 16px;
}
